# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Users\arupb\ExpediaCucumberFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/libraries/*.xml
/*.xml
../target
